# Django ve DRF
Django>=4.2.0,<5.0.0
djangorestframework>=3.14.0,<4.0.0
django-cors-headers>=4.3.0,<5.0.0
django-widget-tweaks>=1.5.0,<2.0.0

# Güvenlik
django-environ>=0.11.0,<1.0.0
python-dotenv>=1.0.0,<2.0.0
django-csp>=3.7,<4.0  # Content Security Policy
django-axes>=6.1.0,<7.0.0  # Login attempt limiting
django-defender>=0.9.0,<1.0.0  # Block suspicious requests
django-secure>=1.0.1,<2.0.0  # Security best practices
django-permissions-policy>=4.17.0,<5.0.0  # Permissions-Policy header
django-referrer-policy>=1.0,<2.0  # Referrer-Policy header

# Veritabanı
pymongo>=4.5.0,<5.0.0

# Görüntü işleme
Pillow>=10.0.0,<11.0.0

# API
requests>=2.31.0,<3.0.0

# Diğer
whitenoise>=6.5.0,<7.0.0  # Statik dosya sunumu
gunicorn>=21.2.0,<22.0.0  # WSGI sunucusu 